---
layout: case
project: 'Metereol: A Typographic Weather Visualizer'
title: <h2>How does the</h2><h1>weather feel?</h1>

---




<section>
<h6>The Problem</h6>
<h2>Weather apps are overdone.</h2>
<p>Little sailboats, big type, realistic rain drops—weather apps have become a go-to portfolio piece. How could Metereol be different? Sure, the <a href="#">sailboats are pretty</a>, but they just present the same data in the same way. Is there a more holistic way to display this data?</p>

<p class="emph">Things like temperature are merely abstractions. What really matters is how it feels.</p>

<p>Metereol would not be another quantititative weather app. Instead, I wanted to create an ambient weather experience. I wanted to make something people could have open in the background, glance at, and immediately understand how it feels outside. The program would operate as a type of digital, dynamic painting.</p>

<div class="double-a">
  <%= image_tag "dwc.jpg", :class => "img-1" %>
  <%= image_tag "thing.png", :class => "img-2" %>
</div>

<h6>The Approach</h6>
<h2>Weather apps are overdone.</h2>
<p>Little sailboats, big type, realistic rain drops—weather apps have become a go-to portfolio piece. How could Metereol be different? Sure, the sailboats are pretty, but they just present the same data in the same way. Is there a more holistic way to display this data?</p>

<p>Metereol would not be another quantititative weather app. Instead, I wanted to create an ambient weather experience. I wanted to make something people could have open in the background, glance at, and immediately understand how it feels outside. The program would operate as a type of digital, dynamic painting.</p>

</section>
