---
layout: case

order: 1
title: 'BCG Onwards &amp; Upwards'
date: 01-01-2017

theme_color: 000

head1: The title
head2: goes here.

summary: Metereol is a weather visualizer. It generates a holistic representation of how it feels outside.

role: 'I concepted, designed & developed Metereol in just 3 weeks. I developed a visual system to represent weather data, worked around the limitations of P5.js to build a functional prototype, and published the app on the Chrome web store.'

learned: optimize code for performance...

---

<div class='embed-container big-video' style="padding-bottom: 56.25%"> <!--DEFAULT 56.25 -->
  <iframe src='https://player.vimeo.com/video/201945068?title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
<div class="video-bg">
<section>

</section>
</div>

<section>


<h5>The Challenge</h5>
<h2>What does business growth mean in a changing world?</h2>
<p>Imagine a hot summer day in the city. A thick soup of stagnant air surrounds your body as you step outside. How does it feel? Pretty freaking uncomfortable. </p>
<p>Now imagine a snowy December evening. It's picturesque, but the moment you step outside the cold is harsh and cutting. </p>

<p class="emph">I wanted to evoke these same feelings through dynamic visual compositions.</p>

<p>How it feels outside also hinges upon more than just temperature. A summer day with a breeze feels drastically different than one with no breeze and high humidity. I needed to develop a system that took all of these conditions into account.</p>




<div class="images-2up-a">
  <%= image_tag "snow.png", :class => "img-1" %>
  <%= image_tag "thing.png", :class => "img-2" %>
</div>

<h5>The Approach</h5>
<h2>Showing how it feels</h2>
<p>Images and visual inputs have a much closer relationship to the visceral. Seeing an ad for the local pool on a hot summer day automatically incites sensations of ....</p>

<p>Instead of just listing weather conditions, showing the data visually delivers a more meaningful.

I decided to create a system of visualizations that create a holistic picture of the conditions outside. Like any good data visualization, each element would be </p>



<div class="img-caption-L">
  <%= image_tag "form.png"%>
  <p class="caption"><b>Distributing a short survey</b> helped me determine which metrics people valued most.</p>
</div>

<div class="img-caption-R">
  <%= image_tag "metrics.png"%>
  <p class="caption"><b>I settled on four key data points:</b> temperature, humidity, precipitation and cloud cover. Together, these metrics reflect weather conditions without adding unnecessary complexity to the system. I later added time of day to make the generated compositions more dynamic.</p>
</div>

<h5>The Approach</h5>
<h2>Showing how it feels</h2>
<p>Images and visual inputs have a much closer relationship to the visceral. Seeing an ad for the local pool on a hot summer day automatically incites sensations of ....</p>

</section>
