//BRAND COLORS
$black: #0c0b0a;
$white: #edf7f6;



$main: #405CFF;
$yellow: #fff0d3;

$c1: #FF9999;
$c2: #7AFFB0;

$inverse: #B5A100;

//BRAND FONTS
$sectrafine: 'GT Sectra Fine', Times, "Times New Roman", serif;
//$sectra: 'GT Sectra', Times, "Times New Roman", serif;
$sneak: 'Sneak Trial', "Helvetica Neue", Helvetica, Arial, sans-serif;

//BREAKPOINTS
$breakpoints: (
  small : 480px,
  medium: 700px,
  large : 1024px
);

$tweakpoints: ();

$p-font-sizes: (
  null  : (16px, 1.6),
  small : 17px,
  medium: (18px, 1.75),
  large : (19px,1.75),
);

$emph-font-sizes: (
  null  : (36px, 1.3),
  small : (40px),
  medium: (48px),
  large : (54px),
);

$small-font-sizes: (
  null  : (12px, 1.4),
  small : 14px,
  medium: (15px, 1.6),
  large : (16px),
);

$h1-font-sizes: (
  null  : (36px, 1.2),
  small : (50px),
  medium: (60px),
  large : (72px),
);

$h2-font-sizes: (
  null  : (28px, 1.1),
  small : (30px),
  medium: (38px),
  large : (54px),
);

$h3-font-sizes: (
  null  : (18px, 1),
  small : (24px),
  medium: (26px),
  large : (28px),
);

$h5-font-sizes: $h3-font-sizes;

$h6-font-sizes: $p-font-sizes;




//$p-font-sizes: $small-font-sizes;
