@charset "utf-8";
//$visual-grid: true;
@import "neat";
@import "normalize";
@import 'mixins';
@import "fonts";
@import "vars";

html {
  box-sizing: border-box;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
  height: 100vh; /* set viewport constraint */
  min-height: 100%;
}

::selection {
  background: rgba($main, .85);
  color: $c1;
  opacity: 1;
}

body {
  background: $white;
  font-family: $sneak;
  color: $black;
}

.for-cool-text {
  padding: 0;
  margin: 0;
  background-color: $white;
}

h1 {
  font-family: $sectrafine;
  @include font-size($h1-font-sizes);
  letter-spacing: -.01em;
  font-weight: normal;
  margin-bottom: .4em;
  color: $black;
  span {
    font-family: $sneak;
    //color: $main;
    font-weight: bold;
  }
}

h2 {
  font-family: $sneak;
  @include font-size($h2-font-sizes);
}

h3 {
  text-align: center;
  @include font-size($h3-font-sizes);
  letter-spacing: -.02em;
  color: rgba($black, .5);
  margin: 0;
}

h5 {
  font-family: $sneak;
  @include font-size($h3-font-sizes);
  font-weight: bold;
  //text-transform: uppercase;
}

h6 {
  font-family: $sneak;
  font-weight: bold;
  @include font-size($h6-font-sizes);
  margin-bottom: .2em;
  font-weight: bold;
}

p {
  @include font-size($p-font-sizes);
  font-family: $sneak;
  margin-bottom: 1em;
}

p.emph {
  font-family: $sectrafine;
  @include font-size($emph-font-sizes);
  color: rgba($black, .5);
}

p.credits {
  @include font-size($small-font-sizes);
  text-align: center;
  color: rgba($black, .5);
}

p.blockquote {
  text-indent: -.5em;
}

small {
  font-family: $sneak;
  @include font-size($small-font-sizes);
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -.06em 0 $main;
  transition: all .2s ease-out;
}

a:hover {
  color: #fff;
  box-shadow: inset 0 -1.15em 0 $main;
}

section {
  @include outer-container;
  //@include pad(0 1em);
  padding: 0 1em;
}


//----------------------
//  IMPORT NAVIGATION STYLES
//----------------------
@import "components/navigation";
//----------------------
//  IMPORT FOOTER STYLES
//----------------------
@import "components/footer";


.index {
  .custom {
    h2 {
      text-align: center;
      margin-bottom: 1.5em;
    }
  }
  @include respond-to('medium') {
    .custom {
      h2 {
        @include span-columns(8);
        @include shift(2);
      }
    }
  }
}

.about {
  .main {
    .profile {
      @include span-columns(3);
    }
    .bio {
      @include span-columns(8);
      @include shift(1);
      .likes, .dislikes {
        @include span-columns(4 of 8);
      }
    }
  }
}

.projects {
  .content {
    section {
      margin-bottom: 7.5vh;
      p:last-of-type {
        margin-bottom: 3em;
      }
      p.emph:last-of-type {
        margin-bottom: 1.5em;
      }
      div:last-of-type {
        margin-bottom: 5vh;
      }
      ol:last-of-type {
        margin-bottom: 1em;
      }
      .proj-btn:last-of-type {
        margin-bottom: 4.5em;
      }
    }
    h2 {
      text-align: center;
      margin-bottom: 1em;
    }
    h5 {
      margin-bottom: .9em;
      @include span-columns(12);
    }
    p + h5 {
      margin-top: 3em;
    }
    h6 {
      margin-top: 1em;
    }
    .inline-video, p {
      @include span-columns(12);
    }
    p.emph {
      margin-top: .5em;
      margin-bottom: .8em;
    }
    p.credits {
      width: 100%;
      margin: .5em auto 3em auto;
    }
    ol {
      @extend p;
      @include font-size($h3-font-sizes);
      font-weight: normal;
      text-align: left;
      margin: .2em auto 1.5em auto;
      padding: 0;
      li {
        margin-bottom: 1em;
      }
    }
    img {
      max-width: 100%;
    }
    p + img, p + p img, .inline-video {
      margin-top: 3em;
    }
    img + p {
      margin-top: 3em;
    }
    img + h5 {
      margin-top: 1.5em;
    }
    .problem p.emph  {
      color: $white;
      margin-top: 1em;
    }
    .learned {
      background-color: $main;
      color: $white;
      //padding-top: 10vh;
      padding-bottom: 5vh;
      p.emph {
        color: $c1;
        margin-top: 0;
        margin-bottom: .5em;
      }
    }
    @include respond-to('small') {
      h2, p, h5, h6, .inline-video {
        @include span-columns(10);
        @include shift(1);
      }
    }
    @include respond-to('medium') {
      h2, h5, p, .inline-video, .img-6 {
        @include span-columns(8);
        @include shift(2);
      }
    }
    @include respond-to('large') {
      h5, p, .inline-video, .img-6 {
        @include span-columns(6);
        @include shift(3);
      }
      p.emph {
        @include span-columns(7);
        @include shift(5);
      }
      .learned p {
        @include span-columns(7);
        @include shift(5);
      }
      p.left {
        @include shift(1);
      }
      ol {
        @include shift(3);
        @include span-columns(9);
      }
    }
  }
}



.projects_index {
  .brief {
    margin-bottom: 20vh;
  }
  h1 {
    color: rgba($black, .5);
    span {
      color: $black;
    }
  }
  h2 {
    margin-bottom: 1em;
  }
  .proj-row p {
    font-weight: bold;
    text-align: left;
    margin-top: .2em;
    line-height: 1.2;
  }
  .proj-row p span {
    @include font-size($small-font-sizes);
    color: rgba($black, .5);
    display: inline-block;
    font-weight: normal;
  }
  .proj-row a {
    box-shadow: none;
  }

  .project3, .project4, .project5, .project6, .project8 {
    margin-bottom: 2.35765%;
    img {
      max-width: 100%;
    }
  }
  @include respond-to('small') {
    .project3, .project4, .project5, .project6, .project8 {
      @include span-columns(10);
      @include shift(1);
    }
  }

  @include respond-to('medium') {
    .project3, .project4, .project5, .project6, .project8 {
      margin-bottom: 10vh;
    }
    .project3 {
      @include span-columns(3);
      margin-right: 8.5298% + 2.35765%;
      @include shift(0);
    }
    .project4 {
      @include span-columns(4);
      @include shift(2);
      @include omega;
    }
    .project5 {
      @include span-columns(5);
      @include shift(5);
    }
    .project6 {
      @include span-columns(6);
      @include shift(0);
    }
    .project8 {
      @include span-columns(8);
      @include shift(0);
    }
  }
}


//############################################
//#################COMPONENTS#################
//############################################

//brief component
.brief {
  padding-top: 20vh;
  margin-bottom: 5vh;
  h6 {
    @include font-size($small-font-sizes);
  }
  h3 {
    line-height: 1.4;
    @include span-columns(12);
    margin-bottom: 5vh;
    font-weight: normal;
    text-align: left;
  }
  .role {
    margin-bottom: 3vh;
  }
  .learned {
    @include span-columns(12);
    ul {
      @extend small;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
      }
      li:before {
        content: '\007e';
        margin-right: .2em;
      }
    }
  }
  @include respond-to('small') {
    margin-bottom: 10vh;
    .summary {
      .visual {
        margin-top: 10vh;
      }
    }
  }
  @include respond-to('medium') {
    padding-top: 30vh;
    .emph {
      margin-bottom: 10vh;
    }
    .role {
      @include span-columns(6);
      padding-right: 1em;
    }
    .learned {
      @include span-columns(5);
      @include shift(1);
        ul {
          li {
            display: block;
          }
        }
    }
  }
  @include respond-to('large') {
    .learned {
      @include span-columns(4);
      @include shift(2);
    }
  }
}

.browser-window {
  padding-top: 30px;
  border-radius: 6px;
  border: solid 1px $black;
  position: relative;
  .frame {
    display: block;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 1px;
    span {
      height: 12px;
      width: 12px;
      border-radius: 12px;
      border: 1px solid $black;
      float: left;
      margin: 0 0 0 5px;
    }
  }
  .browser-content {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid $black;
    img {
      display: block;
    }
  }
}

.full-window {
  @include span-columns(10);
  @include shift(1);
}

.btn {
  text-align: center;
  color: $black;
  font-weight: bold;
  width: 300px;
  height: 3.5em;
  position: relative;
}

.btn-content {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 3.5;
  border: 2px solid $black;
  border-radius: 2px;
  background: #fff;
  box-shadow: none;
}

.btn:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 6px;
  left: 6px;
  border: 2px solid $black;
  border-radius: 2px;
  transition: all .3s ease;
}

.btn:hover .btn-content {
  background: #fff;
  color: $main;
  box-shadow: none;
  transform: translate(-2px, -4px);
}

.btn:hover::before {
  background: $main;
}


.proj-btn {
  .btn {
    margin: 0 auto;
  }
  @include span-columns(12);
}

//video playback
.embed-container { position: relative; height: 0; overflow: hidden; max-width: 100%; height: 100%; margin-bottom: 0 !important; z-index: 2;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;}


.big-video, .full-window, .proj-btn {
  margin-bottom: 5vh;
  @include respond-to('small') {
    margin-bottom: 10vh;
  }
}


//#################################################

//################  BACKGROUND: STYLES;  #########################

//####################################################

.dark-bg, .black-bg, .white-bg {
  section:last-of-type {
    margin-bottom: 0;
  }
}

.dark-bg {
  background-color: $black;
  color: $white;
  h3 {
    color: $white;
  }
}

.black-bg {
  background-color: #11100F;
  color: $white;
  h3 {
    color: $white;
  }
}

.white-bg {
  background-color: #fff;
}

.padded-bg {
  padding: 5vh 0;
  //margin-bottom: 5vh;
  @include respond-to('medium') {
    padding: 15vh 0;
    //margin-bottom: 10vh;
  }
}

.split {
  padding-top: 15vh;
  padding-bottom: 3em;
  margin-bottom: 0;
}

.flush {
  margin-bottom: 0;
}

.frame-block {
  background-color: none;
  .row1, .row2, .row3 {
    @include span-columns(12);
  }
  img {
    margin-bottom: 1em;
  }
  @include respond-to('small') {
    img {
      @include span-columns(6);
      margin-bottom: 0;
    }
    .row1, .row2, .row3 {
      margin-bottom: 2.35765%;
    }
  }
  @include respond-to('medium') {
    .size5 {
      @include span-columns(5);
    }
    .size7 {
      @include span-columns(7);
    }
    .row1, .row3 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .row3 {
      align-items: center;
      flex-direction: row-reverse;
      img:first-of-type {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}

.megagrid img {
  margin-bottom: 1.3%;
}



//############  CAPTIONS  #################
.img-caption-R, .img-caption-L {
  @include span-columns(12);
  @include shift(0);
  //margin-top: 10vh;
  //margin-bottom: 5vh;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  .contents {
    @include span-columns(12);
    margin-bottom: 1em;
  }
  .caption {
    margin-left: 0;
    p, h5 {
      @include shift(0);
      @include span-columns(12);
    }
    p:last-of-type {
      margin-bottom: 0 !important;
    }
  }
  p.credits {
    margin-bottom: 0 !important;
  }
  @include respond-to('medium') {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    .contents {
      @include span-columns(6);
    }
    .caption {
      @include span-columns(5);
    }
  }
  @include respond-to('large') {
    .contents {
      @include span-columns(5);
    }
    .six {
      @include span-columns(6)
    }
    .caption {
      @include span-columns(6);
    }
    .six + .caption {
      @include span-columns(5);
    }
  }
}
.img-caption-L {
  @include respond-to('medium') {
    flex-flow: row-reverse;
    .contents {
      margin-right: 0;
    }
    .caption {
      margin-right: auto;
      margin-left: 0;
    }
  }
}


//###########################################################

//######################  JUST IMAGES #######################

//###########################################################

.img-10-l, .img-10-r, .img-10-c {
  @include span-columns(12);
  @include respond-to('medium') {
    @include span-columns(10);
    @include shift(1);
  }
}

@include respond-to('medium') {
  .img-10-l {
    @include shift(0);
  }

  .img-10-r {
    @include shift(2);
  }
}


// (image, 2up)
.images-2up-a {
  @include span-columns(12);
  margin: 8vh auto 10vh auto;
  display: flex;
  flex-flow: column;
  .img-1, .img-2 {
    max-width: 100%;
    max-height: 100%;
  }
  .img-1 {
    margin-bottom: 1em;
  }
  @include respond-to('medium') {
    flex-flow: row;
    align-items: flex-start;
    .img-1 {
      @include span-columns(6);
      margin-bottom: 0;
    }
    .img-2 {
      @include span-columns(6);
      margin-left: auto;
      padding-top: 15vh;
    }
  }
}


.inner-link:before {
  display: block;
  content: " ";
  margin-top: -15vh;
  height: 15vh;
  visibility: hidden;
}
