


<footer>
  <div class="links">
    <h6><span>Links</span></h6>
    <ul>
      <li><small><a href="#">projects</a></small></li>
      <li><small><a href="#">writing</a></small></li>
      <li><small><a href="#">rndm output</a></small></li>
      <li><small><a href="#">bookshelf</a></small></li>
    </ul>
  </div>
  <div class="about">
    <h6><span>About Me</span></h6>
    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are. <small><a href="#">(more about me)</a></small></p>

  </div>
  <div class="copy"><small>&copy;2017 Stephen Kistner. Thanks for stopping by!</small><small class="toplink"><a href="#">Back to Top</a></small></div>

</footer>
