<nav class="navigation">
<a class="logo" href="/"><small><%= image_tag "logo.svg" %>SK</small></a>

<small class="contact"><a href="mailto:chat@with.sk?Subject=Hello%20again">chat@with.sk</a></small>
</nav>
