.footer-bg {
  background-color: $black;
}

footer {
  $footer-link-sizes: (
    null  : (20px, .97),
    small : 22px,
    medium: (25px),
    large : (27px),
  );
  color: $white;
  @extend section;
  margin-top: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 30vh;
  .links {
    @include span-columns(12);
    ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 1em 0 2em 0;
    padding: 0;
      li {
      display: inline-block;
      margin-bottom: 1.5em;
      margin-right: 5%;
      flex: 0 0 40%;
        a {
          font-family: $cooper;
          @include font-size($footer-link-sizes);
          box-shadow: none;
        }
      }
    }
  }
  .about {
    @include span-columns(12);

  }
  .copy {
    @include span-columns(12);
    margin-top: 5em;
  }
  .toplink {
   float: right;
   display: none;
  }
  @include respond-to('medium') {
    margin-top: 30vh;
    padding-top: 10vh;
    padding-bottom: 5vh;
    .links {
        @include span-columns(3);
        ul {
          flex-direction: column;
        }
      }
    .about {
        @include span-columns(6);
        @include shift(1);
      }
      .toplink {
        display: inline;
      }
    }
  @include respond-to('large'){
    .about {
      @include span-columns(8);
    }
  }
    .about, .copy, .include {
      margin-right: 0;
    }
}
