.footer-bg {
  background-color: $black;
  position: relative;
  z-index: 1;
}

footer {
  color: $white;
  @extend section;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 30vh;
  h2 {
    margin-bottom: .5em;
    color: $white;
  }
  $footer-link-sizes: (
    null  : (20px, .97),
    small : 22px,
    medium: (25px),
    large : (27px),
  );
  .links {
    display: flex;
    flex-direction: column;
    .other {
      a {
        @include font-size($p-font-sizes);
        font-weight: bold;
      }
      .prev {
        margin-bottom: 1.5em;
      }
      .prev a:hover {
        margin-left: -.7em;
      }
      ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      margin: 1em 0 2em 0;
      padding: 0;
        li {
        display: inline-block;
        margin-bottom: .5em;
        //margin-right: 5%;
        flex: 0 0 45%;
        }
      }
    }
    .next {
      text-align: center;
      margin-bottom: 1.5em;
    }
    .next h2 a:hover {
      margin-right: -.3em;
    }
  }
  .copy {
    @include span-columns(12);
    margin-top: 1em;
  }
  .toplink {
   float: right;
   display: none;
  }
  @include respond-to('medium') {
    padding-top: 10vh;
    padding-bottom: 5vh;
    .links {
      flex-flow: row-reverse;
      align-items: center;
      .other {
          ul {
            flex-direction: column;
          }
          margin-right: auto;
        }
      .next {
        text-align: right;
        }
    }
    .toplink {
        display: inline;
    }
    }
  @include respond-to('large'){
  }
}
