nav.navigation, nav.footer {
  //mix-blend-mode: exclusion;
  pointer-events: none;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 2em 1em 1em 1em;
  position: fixed;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  @include respond-to('1200px') {
    width: 1200px;
    margin-left: -600px;
  }
  a {
    color: $main;
  }

  a:hover {
    color: $white;
  }

  .logo {
    pointer-events: all;
    position: fixed;
    float: left;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: none;
    small {
      //margin-left: 1em;
      font-weight: bold;
      font-family: $sneak;
      @include font-size($h1-font-sizes);
    }
    img {
      height: .68em;
      margin-right: .05em;
    }
    border: none;
  }
  /*.logo:hover {
    cursor: image_url("hand.png") 25 25, auto;
  }*/
  .contact {
    pointer-events: all;
    margin-left: auto;
    float: right;
    font-family: $sneak;
  }
}
