---
title: About Me
layout: default
---

<section class="intro">
  <div class="casing">
  <h1>I really like Cooper Black</h1>
  </div>
</section>

<!--<hr class="topline">-->

<section class="main">
    <%= image_tag "profile.png", :class => 'profile' %>
    <div class="bio">
      <p class="emph">I am a digital design generalist interested in motion graphics, product design and the future of the web.</p>
      <div class="likes">
      <h6>Likes:</h6>
        <p><small>Pizza, reading, Cooper Black</small></p>
      </div>
      <div class="dislikes">
      <h6>Dislikes:</h6>
        <ul>
          <li>interfaced with live weather data</li>
          <li>ran into problems with P5.js</li>
          <li>published on the Chrome web store</li>
        </ul>
      </div>
    </div>
</section>
