---
title: Welcome!
layout: default
---
<section class="intro">
  <div class="casing">
    <h2>This one's for you,</h2>
    <h1>Imaginary Studio.</h1>
  </div>
</section>


<section>

  <p><small>see how I:</small></p>

  <h2 id="proj-1"><a href="#">Kept things practical</a><small class="subtext">Metereol: A Typographic Weather Visualizer</small></h2>


  <h2><a href="#">Experimented with new ideas</a><small class="subtext">Displaying Content in Chat-Based UI</small></h2>


  <h2><a href="#">Tackling complex problems</a><span> drives me.</span><small class="subtext">2016 MICA Holiday Card</small></h2>


  <small><a href="#">(view all work)</a></small>

  <div id="proj-image-1">
    <%= image_tag "test-th.jpg" %>
  </div>
</section>
