---
noprev: true

nextpage: About Me

title: Welcome!
layout: default

theme_color: 000

---


<section class="brief">
    <h1 style="line-height: 1.2">I'm <span>Stephen Kistner</span>, a digital designer who likes to code, make things move and improve people's lives.</h1>
</section>

<div class="split" style="background: none">
  <h3 style="font-weight: normal">Here's what I can do for Imaginary Studio:</h3>
</div>


<section class="custom">
    <h2>Tackle challenging problems with passion &amp; enthusiasm</h2>
    <h2>Create meaning through motion</h2>
    <h2>Approach design with logic and something</h2>
</section>
