---
title: Welcome!
layout: default
---

<div class="intro-bg">
<section class="intro">
  <div class="casing">
    <h2>This one's for you,</h2>
    <h1>Imaginary Studio.</h1>
  </div>
</section>
</div>


<section>
    <p class="opening-remarks emph">I'm Stephen, a digital designer who likes to code, make things move and improve people's lives.</p>
    <p class="opening-remarks emph">Here's what I've been up to:</p>
</section>
