---
title: Welcome!
layout: default

theme_color: 000

---

<div class="intro-bg" style="background-color: #fff">
<section class="intro">
  <div class="casing" style="color: #<%=current_page.data.theme_color %>">
    <h2>This one&rsquo;s for you,</h2>
    <h1>Imaginary Studio.</h1>
  </div>
</section>
</div>


<section class="opening-remarks">
    <p class="emph">I'm Stephen, a digital designer who likes to code, make things move and improve people's lives.</p>
    <p>Here's what I can do for you:</p>

    <h2>Design for complex information systems</h2>
    <h2>Craft meaning through motion</h2>
</section>
